body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
    position: relative;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.app {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.score{
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* left: 45%; */
  width: fit-content;
  padding:10px 50px;
  background-color: #3e335fca;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  box-shadow: 2px 2px 5px 0px #000000;
}

/* .score h2{
  margin-bottom: -20px;
} */

.grid{
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  position: relative;
  align-items: center;
}

.advance{
  position: absolute;
  bottom: 7%;
  left: 50%;
  padding: 5px 20px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: black;
  font-weight: 800;
  box-shadow: 1px 1px 1px 1px #e73c7e;
  border: 2px solid aqua;
  /* left: 47%; */
  width: fit-content;
  transition: 200ms;
}
.advance:hover{
  border: 2px solid #e73c7e;
  box-shadow: 0px 0px 0px 0px #e73c7e;
  background-color: aqua;
}

.select{
  display: flex;
  flex-direction: column;
  margin: 0% 20% 0% 20%;
  text-align: left;
}


.select select{
  border: 1px solid rgb(244, 135, 244);
  background-color: #282c34;
  color: white;
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  border-radius: 5px;
}

.select button{
  border: 1px solid rgb(0, 0, 0);
  background-color: #ff7575;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  width: fit-content;
  align-self: center;
}

.card{
  width: 80vw
}

.green{
  background-color: green;
}
.red{
  background-color: rgb(128, 0, 0);
}

.grid-item{
  background-color: #bd81fd;
  box-shadow: 2px 1px 10px black;
  padding: 10px;
  border-radius: 20px;
  margin: 40px 10px;
  /* text-align: center; */
  display: flex;
  /* flex-direction: row; */
  /* position: absolute; */
  width: 70%;

  height: 500px;
}

.grid-item h2{
  text-align: center;
  padding: 10px;
}

.answers{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: flex-start;
  /* padding-bottom: 40px; */
  width: 100%;
  /* flex-wrap: wrap; */
}

.answer{
  padding-top: 20px;
  width: 30%;
  padding: 30px 20px;
  background: #f66da6; 
  margin: 10px;
  transition: 400ms;
  border-radius: 10px;
  box-shadow:
  4px 4px 4px 0px #f74e95 inset,
  -4px -4px 4px 0px #f74e95 inset;
  font-weight: 800;
  font-size: 1.3rem;
  position: relative;
  /* border: 10px; */
}

.answer.tried.correct{
  background: #23d5ab;
  box-shadow:
  4px 4px 4px 0px #1ebd98 inset,
  -4px -4px 4px 0px #15b48f inset;
  animation: correct 0.5s ease;
}
.answer.tried.incorrect{
  background: #d52323;
  box-shadow:
  4px 4px 4px 0px #d52323 inset,
  -4px -4px 4px 0px #d52323 inset;
  animation: incorrect 0.5s ease;
}

.answer:hover{
  transform: scale(1.1);
  box-shadow:
  4px 4px 4px 0px #f74e95,
  -4px -4px 4px 0px #f74e95;
}

.answer label{
  padding-left: 10px;
}

.answer input[type="radio"] {
  /* display: none; */
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  
}
:not(:disabled) ~ label {
  cursor: pointer;
}
:disabled ~ label {
  color: #15b48f;

}


.answer label{

}

/* .answer input:checked{
  border: 2px solid;
} */

@keyframes correct {
  0% {
    transform:rotate(0deg) scale(1);
  } 
  40% {
    transform:rotate(5deg) scale(1.5);

  }
  60% {
    transform:rotate(-5deg) scale(1.5);
  }
  100% {
    transform:rotate(0deg) scale(1);
  }
}
@keyframes incorrect {
  0% {
    transform:translateX(0px);
  } 
  40% {
    transform:translateX(10px);

  }
  60% {
    transform:translateX(-10px);
  }
  100% {
    transform:translateX(0px);
  }
}

.final-score{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  font-size: 2rem;
  width: 100%;
}


.reset {
  border: 0px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
	color: white;
  background: linear-gradient(to right, #bd81fd, #f74e95);
	border-radius: 8px;
	transition: .2s ease-in-out;
}

.reset:hover {
	border-radius: 30px;
  cursor: pointer;
}

.final-Screen{
  position: relative;
  height: 100vh;
  background-color: #282c3491;
  background: url(https://acegif.com/wp-content/uploads/gif/confetti-10.gif);  
}

.final-card{
  backdrop-filter: blur(8px); /* Chrome and Opera */
  border-radius: 10px;
  padding: 40px 50px;
  background-color: #00000028;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}
